APP_NAME=GoBackend
APP_ENV=development
APP_PORT=1067

DB_CONNECTION=sqlsrv
DB_HOST=localhost
DB_PORT=1433
DB_DATABASE=Go
DB_USERNAME=
DB_PASSWORD=

JWT_SECRET=change-me-generate-with-openssl-rand-hex-32
